h1{
    color:crimson;
    font-size: 60px;
}
.bmw {
    color:rgb(0, 225, 255);
}
.merc {
    color:rgb(81, 7, 151)
}
.pors {
    color:black
}
.audi{
    color:rgb(60, 255, 0)
}
div {
    font-style: italic;
    font-size: 20px;
    font-family: sans-serif;
}
.fera {
    font-size: 100px;
    font-family: sans-serif;
    color: brown;
}